<!-- Featueres section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img class="d-block mx-auto mb-3" src="{{ `images/summary.png` | relURL }}" width="150" height="150" alt="Bootstrap">
    </svg>
        <h2 class="h2">Effortless Text Summarization <small class="d-none">🛡️</small></h2>
        <p>With LazyReader, condense lengthy articles or webpages into concise summaries with just a click, saving you valuable time and effort to absorb information swiftly and effortlessly.
        </p>
    </div>
    <div class="col-lg-4">
        <img class="d-block mx-auto mb-3" src="{{ `images/productivity.png` | relURL }}" width="150" height="150" alt="Bootstrap">
    </svg>
        <h2 class="h2">Enhanced Comprehension<small class="d-none">🚀</small></h2>
        <p> Elevate your comprehension by identifying and highlighting key terms and crucial themes to improve your understanding of the material, whether you're studying, researching, or simply browsing the web.
        </p>
    </div>
    <div class="col-lg-4">
        <img class="d-block mx-auto mb-3" src="{{ `images/optimize.png` | relURL }}" width="150" height="150" alt="Bootstrap">
    </svg>
        <h2 class="h2">Customizable Experience <small class="d-none">📈</small></h2>
        <p>Infuse your browsing journey with your unique style by adjusting settings such as GPT versions, summary length choices, theme, and colors, making LazyReader not just a tool, but an extension of your personality and taste.       </p>
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">Facilitated Reflection <small class="d-none">🦉</small></h2>
        <p>Generate insightful reflection questions from articles, fostering deeper engagement and critical thinking about the content you consume. </p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Tailored Summaries <small class="d-none">✨</small></h2>
        <p>Customize summary complexity levels to cater to your specific needs, ensuring the generated summaries match your preferences and comprehension level. </p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Streamlined Workflow <small class="d-none">🧰</small></h2>
        <p>Simplify your process with a single-click copy feature that transfers all summarized content, key terms, and reflection questions to your clipboard, optimizing your productivity.</p>
    </div>
</div>
